<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
    {# <link rel="preload" href="{{ revUrl('/index.js') }}" as="script"> #}
    {# <link rel="preload" href="{{ revUrl('/dist/fonts/sourcesanspro-regular.woff2') }}" as="font" type="font/woff2" crossorigin> #}
    {# <link rel="preload" href="{{ revUrl('/dist/fonts/sourcesanspro-light.woff2') }}" as="font" type="font/woff2" crossorigin> #}
    {#
    <link href="{{ revUrl('/dist/css/fonts.css') }}" rel="stylesheet">
    <link href="{{ revUrl('/dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ revUrl('/assets/css/src/docs.css') }}" rel="stylesheet">
    #}
    <link href="{{ revUrl('/index.css') }}" rel="stylesheet">
    <script>{% include './paint-timings.js' %}</script>

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}
        {% include './app-header.html' %}
        {% block content %}
        {# extend this layout and insert content into this block #}
        {% endblock %}
        {% include './app-footer.html' %}
    {% endblock %}

    {#
    <script src="{{ revUrl('/assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ revUrl('/dist/js/bootstrap.js') }}"></script>
    <script src="{{ revUrl('/assets/js/docs.min.js') }}"></script>
    <script src="{{ revUrl('/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    #}
    <script src="{{ revUrl('/index.js') }}"></script>
    <script>{% include './lazy-images.js' %}</script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
