<!DOCTYPE html>

{% if not fontsLoaded %}
<html lang="en">
{% else %}
<html lang="en" class="fonts-loaded">
{% endif %}

<head>
    {% include './app-meta.html' %}
    <link rel="preload" href="{{ revUrl('/dist/fonts/sourcesanspro-regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ revUrl('/dist/fonts/sourcesanspro-light.woff2') }}" as="font" type="font/woff2" crossorigin>

    <script defer src="{{ revUrl('/index.js') }}"></script>

    {% if not cssLoaded or not fontsLoaded %}
    <script data-cookie-helper>
        {% include "assets/js/vendor/cookie.min.js" %}
    </script>
    {% endif %}

    {% if cssLoaded %}
        <link href="{{ revUrl('/index.css') }}" rel="stylesheet">
    {% else %}
        {% include './load-css.html' %}
    {% endif %}

    {% if not fontsLoaded %}
    <script data-load-fonts>{% include './load-fonts.js' %}</script>
    {% endif %}

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}
        {% include './app-header.html' %}
        {% block content %}
        {# extend this layout and insert content into this block #}
        {% endblock %}
        {% include './app-footer.html' %}
    {% endblock %}

    {#
    <script src="{{ revUrl('/assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ revUrl('/dist/js/bootstrap.js') }}"></script>
    <script src="{{ revUrl('/assets/js/docs.min.js') }}"></script>
    <script src="{{ revUrl('/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    #}
    {% block scripts_extra %}{% endblock %}
</body>
</html>
